
{% extends 'main/base.html' %}

{% block title %} {{title}}{% endblock %}

{% block content %}


<div class="signup-container">
  <h2>{{title}}</h2>


    <!-- form method="post" action=".">
        {% csrf_token %}

        {{ form.as_p}}
        <button class="mt-4 py-4 px-6 bg-cyan-500 text-white rounded-xl">Submit</button>
    </form>   -->

    
    <form class="signup-form" method="post" action=".">
        {% csrf_token %}
        {% for field in form %}
          <label for="{{ field.auto_id }}">{{ field.label }}</label>
          {{ field.errors }}
          {{ field }}
        {% endfor %}
        <button class="mt-4 py-4 px-6 bg-cyan-500 text-white rounded-xl">Submit</button>
      </form>


  <!-- <form class="signup-form" method="post" action=".">
    {% csrf_token %}
    {% for field in form %}
      <label for="{{ field.auto_id }}">{{ field.label }}</label>
      <input type="{{ field.field.widget.input_type }}"
             name="{{ field.html_name }}"
             id="{{ field.auto_id }}"
             {% if field.field.required %}required{% endif %}>
    {% endfor %}
    <button class="mt-4 py-4 px-6 bg-cyan-500 text-white rounded-xl">Submit</button>
  </form> -->
</div>



{% endblock %}